@import "tailwindcss";

@plugin "@tailwindcss/typography";

* {
  @apply antialiased;
  text-rendering: geometricPrecision;
}

::-moz-selection {
  @apply bg-zinc-600 text-white;
  -webkit-text-fill-color: white;
}

::selection {
  @apply bg-zinc-600 text-white;
  -webkit-text-fill-color: white;
}

@theme {
  --font-sans: var(--sans-font);
  --font-mono: var(--mono-font);
  --font-plaster: var(--plaster-font);
}
